<div class="input-group">
  <input type="text" class="form-control" placeholder="請輸入訂單編號" aria-label="Recipient's username" aria-describedby="basic-addon2"
    (keyup)="searchGroup(searchTxt.value)" #searchTxt>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="searchGroup(searchTxt.value)">搜尋訂單編號</button>
  </div>
</div>
<ul class="list-group">
  <li>
    <div *ngFor="let object of list" [ngClass]="{'yellow': object.yellow, 'blue': object.blue, 'green': object.green}">
      <div class="collactionId" (click)="goOrder(object.id)"> (訂單編號:{{object.id}}) &nbsp; (ATM:{{object.atm}})</div>
      <table>
        <tbody>
          <tr>
            <th>姓 名</th>
            <th>品 名</th>
            <th>配 料</th>
            <th>數 量</th>
            <th>價格</th>
            <th>備 註</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of object.items">
            <td>{{item.name}}</td>
            <td>{{item.drinkName}}</td>
            <td>{{item.add}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td>{{item.remark}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>總數:{{object.allQuantity}}</td>
            <td>合計:{{object.allSum}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-primary btn-sm" (click)="ok(object)">確認訂單</button>
        <button class="btn btn-success btn-sm" (click)="finish(object)">完成訂單</button>
        <button class="btn btn-danger btn-sm" (click)="delete(object.id)">刪除訂單</button>
        <button class="btn btn-secondary btn-sm" (click)="cancel(object)">未核訂單</button>
      </div>
    </div>
  </li>
</ul>