<div class="layout">
  <div class="header">
    <div>紅豆"藝人"網購區</div>
  </div>

  <div class="container">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>1. 輸入資料</td>
        </tr>
        <tr>
          <td>2. 創建訂單</td>
        </tr>
        <tr>
          <td>3. 點選品項</td>
        </tr>
        <tr>
          <td>4. 查看目前訂單(請記住訂單編號)</td>
        </tr>
        <tr>
          <td>5. 輸入匯款帳號後五碼</td>
        </tr>
        <tr>
          <td>6. 訂單完成等待美食</td>
        </tr>
      </tbody>
    </table>
    <div class="inputData">
      <span>
        請輸入創建者:
        <input type="text" value="個人/公司名稱" [(ngModel)]="inputName">
      </span>
      <span>
        請輸入外送地址:
        <input type="text" value="地址" [(ngModel)]="inputAdress">
      </span>
    </div>
    <button class="btn btn-primary" (click)="goOrder()" [disabled]="!inputName || !inputAdress">創建訂單</button>
    <button class="btn btn-warning" (click)="openOrderNumber()">查詢訂單</button>
    <button class="btn btn-success" (click)="open()">管理員按鈕</button>
    <div class="inputData" *ngIf="openOrder">
      <span>
        請輸入訂單編號:
        <input type="text" value="訂單編號" [(ngModel)]="openOrderText">
      </span>
      <button class="btn btn-danger" (click)="goOrderNumber()">OK</button>
    </div>
    <div class="inputData" *ngIf="openButton">
      <span>
        請輸入帳號:
        <input type="text" value="個人/公司名稱" [(ngModel)]="account">
      </span>
      <span>
        請輸入密碼:
        <input type="text" value="地址" [(ngModel)]="password">
      </span>
      <button class="btn btn-danger" (click)="comparison()">GO</button>
    </div>
  </div>

  <div class="footer">
    <div>
      <a href="http://">回到紅豆"藝人"官網</a>
    </div>
  </div>
</div>