<div class="layout">
  <div class="header">
    <div>紅豆"藝人"外送區</div>
  </div>

  <div class="container">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>1. 創建訂單</td>
        </tr>
        <tr>
          <td>2. 輸入資料</td>
        </tr>
        <tr>
          <td>3. 點選品項</td>
        </tr>
        <tr>
          <td>4. 查看目前訂單</td>
        </tr>
        <tr>
          <td>5. 來電告知訂單編號</td>
        </tr>
        <tr>
          <td>6. 訂單完成等待美食</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="goOrder()">創建訂單</button>
    <button class="btn btn-danger" (click)="goBack()">回到網站</button>
  </div>

  <div class="footer">
    <div>
      歡迎來到紅豆"藝人"外送區
    </div>
  </div>
</div>